<!Doctype html>
    <head>
        <title>Dad Joke Term Counter</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
    <h1>Dad Joke Term Counter</h1>
    <div class="dataframe-container">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </div>
    <div class="button-wrap">
        <form action="/table" method="POST">
            <p><input type="submit" class="button" value="Get me counts!"/></p>
        </form>
    </div>  
    </body>
</html>